<div class="headerheight">
    <div class="page-title container" ng-class="headerDetails.titleClass" ng-style="{'padding-top': headertitlePadding}">
    	<span class="site-name" click-redirect="/">HP Wise</span>
    	<span class="page-subtitle" ng-class="headerDetails.subtitleClass">Web Integration Services</span>
    	<img src="./images/HPWise-wp-log.png" alt="HPWise-Wordpress logo"> 
	</div> 
	<div class="header-sec-2">
		<div class="template-choose" align="center">{{headerDetails.template}}<span><b> {{settemp}}	</b></span></div>
		<div class="usr-details">
			<span class="usr-name">{{headerDetails.username}}</span>
			<img src="">	
		</div>
	</div>
</div>