<div class="template-page">
 <div class="choose-template">
  <div class="template-container">
   <h2 class="template-web">Choose a template and start your web integration</h2>
   <p class="temp-webdetails"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
   <div class="wp-border"><img src="./images/HPWise-wp-log.png" alt="HPWise-Wordpress logo"></div>
   <div class="template-any">Choose any of these templates</div>
     </div>
 </div>
 <div class="template-block">
  <div class="loader-icon spinner" ng-show="loading"></div>
  <div class="template-container" ng-repeat="template in templates">
  <div class="template-1 col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
   <div class="img-selector">
    <a class="template1-chose" ng-click="choiceTemplate(template.name,template.id)">
     <img src="{{template.template_image}}" class="temp1-pic img-responsive" alt="template1-image">
     <div class="overlay">
         <div class="text">Click
          <div class="spinner l_ball" ng-show="loading_ball"></div>
         </div>

       </div>
    </a>
      </div>
   <h3 class="template-name">{{template.name}}</h3>
   <div class="template-desc">{{template.description}}.</div>
   <div class="arrow-pt"></div>
   <div class="template-download">
    <img src="./images/template-download.png" align="center">
   </div>
  </div>
<!--   <div class="template-2 col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
   <div class="img-selector">
    <a class="template-chose" ng-click="choiceTemplate(2)" click-redirect="/info-products/templateB">
     <img src="./images/template2.png" class="temp2-pic img-responsive" alt="template2-image">
     <div class="overlay">
         <div class="text">Click</div>
       </div>
    </a>
      </div>
   <h3 class="template-name">RoboWallArt</h3>
   <div class="template-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
   <div class="arrow-pt"></div>
   <div class="template-download">
    <img src="./images/template-download.png" align="center">
   </div>
  </div>
  <div class="template-3 col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
   <div class="img-selector">
    <a class="template-chose" ng-click="choiceTemplate(3)" click-redirect="/info-products/templateC">
     <img src="./images/template3.png" class="temp3-pic img-responsive" alt="template3-image">
     <div class="overlay">
         <div class="text">Click</div>
       </div>
    </a>
      </div>
   <h3 class="template-name">HP MoVe</h3>
   <div class="template-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
   <div class="arrow-pt"></div>
   <div class="template-download">
    <img src="./images/template-download.png" align="center">
   </div>
  </div> -->
 </div>
  </div>
    <div class="temp-feature choose-template">
     <div class="container">
      <div class="feature-end col-lg-4 col-md-4 col-sm-6 col-xs-12">
       <h3 class="template-name">Basic</h3>
       <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-end col-lg-4 col-md-4 col-sm-6 col-xs-12">
       <h3 class="template-name">Fast Integration</h3>
       <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-end col-lg-4 col-md-4 col-sm-6 col-xs-12">
       <h3 class="template-name">Tailored Solution</h3>
       <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
        </div>
</div>