<div class="products">
    <div class="products-header container">
        <div class="scn-title welcm-title">Welcome</div>
        
        <div class="process">
            <div class="welcm-desc">Start this easy and secure step process in order to cofigure your products and assets, we
            are availabe to help you in any part of the process</div>
            <img src="./images/hpwise-fastconf.png" class="process-img img-responsive" alt="HPWise-Wordpress">
            <img src="./images/verticle-bar.png" class="vertical-bar">
            <span ng-click="call()" class="play-icon">
                Start
            </span>
        </div>
    </div>
    <div class="banner-img wow fadeInUp animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;"><img src="./images/hpwise-templet-show.png" class="img-responsive" alt=""></div>
</div>